</body>

<footer>
    <h5>Daily Dose 2021</h5>
    <a href="https://github.com/ronald-luo/hack-the-north-2021" id="github-btn">
        <img src="https://s2.svgbox.net/social.svg?ic=github&color=000" width="32" height="32">
    </a>
</footer>

    <script src="https://releases.transloadit.com/uppy/v2.1.0/uppy.min.js"></script>

</html>

    <script>
        var uppy = new Uppy.Core()
        uppy.use(Uppy.Dashboard, { 
            inline: true,
            target: '#drag-drop-area'
        })
        uppy.use(Uppy.Webcam, { mirror: true, target: Uppy.Dashboard })
        uppy.use(Uppy.XHRUpload, { endpoint: 'http://127.0.0.1:3000/upload', fieldName: 'photo' })
        uppy.on('complete', res => {
            console.log(res.successful)
            const endpoint = '/pass'
            fetch(endpoint, {
                method: 'post'
            })
            .then(response => response.json())
            .then(data => window.location.href = data.redirect)
            .catch(err => console.log(err))
        })
    </script>

