<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link href="https://releases.transloadit.com/uppy/v2.1.0/uppy.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <header>
        <a href="/dashboard" id="profile-pic">
            <img src="<%= user.photo %>" alt="user-photo">
        </a>
        <!-- <div>
            <img src="<%= user.photo %>" alt="user-photo">
        </div> -->

        <a href="/logout"><img src="https://s2.svgbox.net/materialui.svg?ic=logout&color=000" width="50" height="50" id="logout-btn"></a>
    </header>