<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>

<div class="hero-bg bg-color"></div>
<header id="land-header">
    <div id="logo"><h2>Daily Dose</h2></div>
    <a href="/auth/google" class="google btn">
        <i class="fa fa-google fa-fw"></i> Google+
    </a>
</header>

<main id="hero-section">
    <h1 id="tagline" >OCR MEDICATION SCHEDULER</h1>
    <h5>You take the photos. We do the tracking.</h5>
    <form id="email-form" action="/auth/google" method="GET">
        <input type="text" name="" id="email" placeholder="email address">
        <input type="submit" value="get access">
    </form>
</main>

<section id="card">
    <h2>Increasing Age</h2>
    <h5>The median age has been increasing worldwide. In fact, Canadian researchers estimated that by the year 2036, the proportion of individuals aged 65 and older will make up a quarter of the population.</h5>
</section>

<section>
    <h2>Behind Daily Dose</h2>
    <img src="images/mockup-video.gif" alt="" id="mockup-phone">
</section>

<section>
    <h2>Understanding your needs</h2>
    <h5>Researchers estimated that individuals with chronic illness might be more likely to take their medications. However, according to the World Health Organization, adherence among this group averages only about 50%.</h5>
</section>

<div class="sect-bg bg-color"></div>
<section>
    <h2>Utilize the power of habit</h2>
    <h5>Daily dose is an optical character recognition based web app that helps you schedule medication, so you don't forget</h5>
</section>

<section id="landing-footer">
    <h2>GET STARTED</h2>
    <a href="/auth/google"><div class="start-btn">sign up</div></a>
</section>

<footer>
    <h5>Daily Dose 2021</h5>
    <a href="https://github.com/ronald-luo/hack-the-north-2021" id="github-btn">
        <img src="https://s2.svgbox.net/social.svg?ic=github&color=000" width="32" height="32">
    </a>
</footer>