<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>

<div class="hero-bg bg-color"></div>
<header id="land-header">
    <div id="logo"></div>
    <a href="/auth/google" class="google btn">
        <i class="fa fa-google fa-fw"></i> Google+
    </a>
</header>

<main id="hero-section">
    <h1>STRESS FREE MEDICATION TRACKING</h1>
    <h5>It's that simple</h5>
    <form id="email-form" action="/auth/google" method="GET">
        <input type="text" name="" id="email" placeholder="email address">
        <input type="submit" value="get access">
    </form>
</main>

<section id="card">
    <h2>Lorem ipsum</h2>
    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, dicta.</h5>
</section>

<section>
    <h2>Behind Daily Dose</h2>
    <img src="images/iphone.png" alt="" id="mockup-phone">
</section>

<section>
    <h2>Understanding your needs</h2>
    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, dicta.</h5>
</section>

<div class="sect-bg bg-color"></div>
<section>
    <h2>Utilize the power of habit</h2>
    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, dicta.</h5>
</section>

<section id="landing-footer">
    <h2>GET STARTED</h2>
    <a href="/auth/google"><div class="start-btn">sign up</div></a>
</section>

<footer>
    <h5>Daily Dose 2021</h5>
    <a href="https://github.com/ronald-luo/hack-the-north-2021" id="github-btn">
        <img src="https://s2.svgbox.net/social.svg?ic=github&color=000" width="32" height="32">
    </a>
</footer>